.nav-main{
   margin: auto;
   padding: .6em .9em;
   width:100%;
   background-color: #728fce;
   
}
.nav-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color:white;
}

.nav-ul{
   display:flex;
   color: white;
}

.nav-ul > li{
   margin-right: .9em;
   font-size:16px;
   cursor: pointer;
}
